.levelSelectDiv {
    background-color: bisque;
    padding: 1em;
    border: solid thin black;
    visibility: hidden;
}

menu {
    list-style-type:square;
    display: grid;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        'canvas side'
        'lmenu side';
    gap: 30px;
    grid-template-columns: 839px 100px;
    grid-template-rows: 689px 200px;
}

.playingField {
    grid-area: canvas;
    background-color: brown;
}

.side-container{
    grid-area: side;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.lower-menu{
    grid-area: lmenu;
    background-color: blueviolet;
}

.button-area{
    display: flex;
    gap:20px;
}