body{
    background-color: black;
    color: aquamarine;
    font-family: 'Courier New', monospace;
}

.menuDiv {
    background-color: rgb(46, 42, 47);
    padding: 1em;
    border: solid thin black;
}

menu {
    list-style-type:square;
    display: grid;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        'canvas side'
        'lmenu side';
    gap: 30px;
    grid-template-columns: 839px 160px;
    grid-template-rows: 689px 200px;
}

.playingField {
    grid-area: canvas;
    display: -moz-stack;
}

.side-container{
    grid-area: side;
    display: flex;
    flex-direction: column;
    gap: 15px;
    

}

.counter{
    border-color: aquamarine;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    font-family: 'Courier New', monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.side-icon{
    height: 120px;
    width: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
}

.lower-menu{
    grid-area: lmenu;
}

.button-area{
    display: flex;
    gap:20px;
}

.fps{
    font-size: smaller;
}

.menu-button{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    width : 300;
    height: 75;
    border-color: darkgrey;
}

.level-list-item{
    
}